header {
    display: flex;
    justify-content: space-between;
    height: 3.5em;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    border-bottom: 1px solid var(--border-color);
    background-color: white;
}

header img {
    height: 80%;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    height: 100%;
    line-height: inherit;
    border-left: solid 1px var(--border-color);
}


header ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

header li {
    display: inline-block;
    border-left: solid 1px var(--border-color);
    margin-right: 0;
}

/* No border for first links in navigation; full height border from nav */
header li:first-child {
    border-left: none;
}

header a:any-link {
    height: 100%;
    text-decoration: none;
    display: inline-block;
    padding: 0 2em;
    color: var(--text-color);
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}
