.contact {
    text-align: center;
}

.contact ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.contact li {
    width: 5em;
    display: inline-block;
}

.contact .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact .icon-linkedin {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><rect width='24' height='24' fill='none'/><path fill='%230077B5' d='M4.98 3.5A2.5 2.5 0 1 1 5 8.5a2.5 2.5 0 0 1 0-5zM3 9h4v12H3V9zm7 0h3.8v1.7h.1a4.2 4.2 0 0 1 3.8-2c4 0 4.7 2.6 4.7 6v6.3h-4V15c0-1.5 0-3.5-2.1-3.5s-2.4 1.6-2.4 3.4V21H10V9z'/></svg>");
}

.contact .icon-email {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><rect x='3' y='5' width='18' height='14' rx='2' ry='2' fill='none' stroke='grey' stroke-width='2'/><polyline points='3,7 12,13 21,7' fill='none' stroke='grey' stroke-width='2'/></svg>");
}

