footer {
  background-color: var(--background-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
  text-align: center;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
